:root {
  --cube-size: 150px;
  --cube-size-face-z: -75px;
}

@page {
  size: auto;
  margin: 25mm 25mm 25mm 25mm;
}

@font-face {
  font-family: "OpenDyslexicMono";
  src: url("/OpenDyslexicMono-Regular.otf");
}

html {
  background: rgba(107, 43, 226, 0.75);
}

body {
  font-family: "OpenDyslexicMono", "Comic Sans MS", Arial, sans-serif;
  color: black;
  margin: 0;
  background: white;
  height: 100%;
  min-height: 100vh;
  font-size: 1.5em;
  background:
          linear-gradient(60deg, rgba(95, 224, 236, 0.2) 10%, rgba(95, 224, 236, 0.1) 20%, rgba(95, 224, 236, 0.3) 50%, rgba(95, 224, 236, 0.2) 100%),
          linear-gradient(9deg, rgba(95, 224, 236, 0.3) 25%, rgba(95, 224, 236, 0.35) 20%, rgba(95, 224, 236, 0.3) 50%, rgba(95, 224, 236, 0.2) 100%);
}

#slide__0_intro {
  /*background: rgba(199, 43, 226, 0.10);*/
  /*background:*/
  /*        linear-gradient(60deg, rgba(95, 224, 236, 0.2) 10%, rgba(95, 224, 236, 0.1) 20%, rgba(95, 224, 236, 0.3) 50%, rgba(95, 224, 236, 0.2) 100%),*/
  /*        linear-gradient(9deg, rgba(95, 224, 236, 0.3) 25%, rgba(95, 224, 236, 0.35) 20%, rgba(95, 224, 236, 0.3) 50%, rgba(95, 224, 236, 0.2) 100%);*/
}

p {
  line-height: 1.3em;
}

.quote,
.example-output,
pre {
  border-radius: 4px;
  padding: 1em;
  break-inside: avoid;
  background: white;
}

.quote {
  background-color: rgba(0, 0, 0, .05);
}

.code,
pre {
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(242, 188, 255, 0.25);
}

span.code {
  border: none;
  padding: 0 0.25em;
  box-sizing: content-box;
  background-color: rgba(242, 188, 255, 0.25);
}

.example-output {
  border-radius: 4px;
  padding: 10px;
  border: 1px dashed #222222;
}

main {
  max-width: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

button {
  padding: 15px 10px;
  font-size: inherit;
}

a, button {
  min-height: 48px;
  min-width: 48px;
  cursor: pointer;
}

.esm-warning {
  margin: 0 auto;
  max-width: 40rem;
}

.slide {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.slide .examples {

}

.example-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  min-width: 15vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}

.example-group .example-output {
  width: 100%;
}

.example-group img {
  width: 30vw;
  object-fit: contain;
  object-position: center;
}

.example-group figure {
  position: relative;
  min-width: 100%;
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
}

.example-group figcaption {
  position: absolute;
  top: -0.5em;
  left: 0.5em;
  background-color: white;
  padding: 0 .5em;
}

.author {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logos img {
  margin: 2em 4em 4.5em;
  object-position: center;
  object-fit: contain;
}

#slide__0_intro h2 + h3 {
  margin-top: -2em;
  margin-bottom: 1em;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .7em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.row.center {
  justify-content: center;
  align-items: center;
}

.row > pre {
  margin: .5em;
}

hr {
  min-width: 50vw;
  border-top: 0;
  border-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  margin-top: 0.5em;
}

h1 {
  text-align: center;
}

.code.lines {
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-style: dotted;
  line-height: 1.75em;
  font-weight: bold;
}

.state-output {
  margin: .5em;
  padding: 2em;
  border: 2px dashed black;
  border-radius: 1em;
  background:
          linear-gradient(90deg, rgba(95, 224, 236, 0.1) 10%, rgba(95, 224, 236, 0.1) 20%, rgba(95, 224, 236, 0.3) 50%, rgba(95, 224, 236, 0.2) 100%),
          linear-gradient(-9deg, rgba(95, 224, 236, 0.3) 25%, rgba(95, 224, 236, 0.1) 20%, rgba(95, 224, 236, 0.3) 50%, rgba(95, 224, 236, 0.2) 100%);
}

.author {
  position: relative;
  transform-origin: center;
  transform: scale(.8);
}

.author:before {
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  /*background-color: rgba(10, 12, 157, 1);*/
  z-index: -1;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state-output:not(.author) h1,
.state-output:not(.author) h2,
.state-output:not(.author) h3 {
  font-size: .75em;
}

.row.stretch > * {
  flex: 1;
}

.closing-links > div {
  display: flex;
  flex-direction: column;
}

.closing-links h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.closing-links h1 span {
  margin-left: 2em;
}

.closing-links h1 img {
  width: 1.4em;
  height: 1.4em;
}

.closing-links a {
  text-decoration: none;
  color: inherit !important;
}
